.checkboxWapper {
    padding-top: 10px;
}

/deep/ .table .checkboxWapper {
    padding: 0;

    .center {
        display: flex;
        align-items: center;
        justify-content: center;

        .kt-checkbox {
            margin: 0;
            padding: 0;

            label {
                margin: 0;
                padding: 0;
            }

        }
    }
}