<div class="autocompleteWapper" [ngClass]="valid ? 'valid' : 'error'">
    <div (clickOutside)="hidePanel()">
        <span class="ui-autocomplete">
            <form autocomplete="off">
                <input type="text" [id]="'autocomplete-normal-' + id" autocomplete="off" [(ngModel)]="value" class="form-control hasIcon" (input)="searchItems()" (blur)="blurInput()" (click)="clickInput()" [ngModelOptions]="{standalone: true}" [placeholder]="placeholder" [ngClass]="{'edited' : value, 'active': data.SearchAddressType != SearchAddressType.Google }">
                <input type="text" [id]="'autocomplete-google-' + id" autocomplete="off" [(ngModel)]="value" class="form-control hasIcon" (blur)="blurInput()" [ngModelOptions]="{standalone: true}" [placeholder]="placeholder" [ngClass]="{'edited' : value, 'active': data.SearchAddressType == SearchAddressType.Google }">
            </form>
        </span>
        <span class="ui-icon">
            <img [src]="icon" />
        </span>
        <span *ngIf="iconRemove && object" class="ui-icon icon-second" (click)="clearClick($event)">
            <i style="padding-top: 5px; padding-left: 3px; font-size: 8px;" class="flaticon2-delete"></i>
        </span>
        <span class="ui-icon icon-last" (click)="clickInput()">
            <img class="ui-icon-preload" [style.display]="loading ? '' : 'none'" [src]="iconLoading" />
            <img class="ui-icon-notfound" [style.display]="!loading && !valid ? '' : 'none'" [src]="iconInvalid" />
            <i style="padding-top: 5px;" [style.display]="!loading && valid ? '' : 'none'" [ngClass]="panelVisible ? 'flaticon2-up' : 'flaticon2-down'"></i>
        </span>
        <div class="ui-autocomplete-panel" [ngClass]="{'active' : panelVisible }">
            <ul *ngIf="items && items.length > 0" class="ui-autocomplete-items ui-autocomplete-list">
                <li class="ui-autocomplete-list-item" *ngFor="let item of items" (click)="selectedItem($event, item)">
                    <div class="item-icon" *ngIf="item.icon">
                        <img class="ui-icon-template" style="opacity: 0.7" [src]="assets + item.icon">
                    </div>
                    <div class="item-template">
                        <span>{{item.fullAddress}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="hint-invalid" *ngIf="message"><span>{{ message }}</span></div>