<div class="kt-login__signin" mvc-remove-wrapper>
    <div class="kt-login__head">
        <h3 class="kt-login__title">Accept agreement</h3>
    </div>
    <form class="kt-form">
        <mvc-alert-component *ngIf="message" [text]="message" (closed)="closeMessage()"></mvc-alert-component>
        <div class="form-group">
            <editor style="width: 100%;" [object]="user" property="Account" [decorator]="{ label: '', editable: true, readonly: true }"></editor>
        </div>
        <div>
            <p>You need accept agreement to use system</p>
            <p>Please <a class="kt-login__account-link" (click)="navigateSignIn()">Sign in</a> again to accept agreement</p>
        </div>
        <div class="kt-login__actions">
            <button id="kt_login_signin_submit" class="btn btn-primary btn-wide btn-font-lg" (click)="navigateSignIn()">
                Back
            </button>
        </div>
    </form>
</div>