<div *ngIf="decorator" class="dropdownWapper" mvc-remove-wrapper>
    <div *ngIf="!decorator.label && !decorator.editable" class="form-view" [ngClass]="classAlign">
        <span *ngIf="decorator.renderHtmlRaw" [innerHTML]="decorator.valueDisplay | sanitizeHtml"></span>
        <span *ngIf="!decorator.renderHtmlRaw">{{ decorator.valueDisplay }}</span>
    </div>
    <div *ngIf="!decorator.label && decorator.editable" class="input-group" [ngClass]="classAlign">
        <div class="input-group" [ngClass]="{'has-error': !decorator.valid}">
            <div class="input-group-prepend" *ngIf="decorator.icon">
                <span class="input-group-text">
                    <i [ngClass]="decorator.icon"></i>
                </span>
            </div>
            <dx-select-box [valueExpr]="propertyKey" [displayExpr]="propertyDisplay" [searchEnabled]="true" [showClearButton]="true" [acceptCustomValue]="false" [dataSource]="items" [(value)]="decorator.value" [placeholder]="decorator.placeholder" (onValueChanged)="onValueChanged()" [disabled]="decorator.readonly">
            </dx-select-box>
            <span class="error" *ngIf="!decorator.valid">{{ decorator.message }}</span>
        </div>
    </div>
    <div *ngIf="decorator.label && !decorator.editable" class="input-group">
        <label class="col-form-label" [ngClass]="classLabel">{{ decorator.label }}</label>
        <div class="col-form-label" [ngClass]="classInput">
            <span *ngIf="decorator.renderHtmlRaw" [innerHTML]="decorator.valueDisplay | sanitizeHtml"></span>
            <span *ngIf="!decorator.renderHtmlRaw">{{ decorator.valueDisplay }}</span>
        </div>
    </div>
    <div *ngIf="decorator.label && decorator.editable" class="input-group">
        <label class="col-form-label" [ngClass]="classLabel">{{ decorator.label }} <span class="star" *ngIf="decorator.required">*</span></label>
        <div [ngClass]="classInput">
            <div class="input-group" [ngClass]="{'has-error': !decorator.valid}">
                <div class="input-group-prepend" *ngIf="decorator.icon">
                    <span class="input-group-text">
                        <i [ngClass]="decorator.icon"></i>
                    </span>
                </div>
                <dx-select-box [valueExpr]="propertyKey" [displayExpr]="propertyDisplay" [searchEnabled]="true" [showClearButton]="true" [acceptCustomValue]="false" [dataSource]="items" [(value)]="decorator.value" [placeholder]="decorator.placeholder" (onValueChanged)="onValueChanged()" [disabled]="decorator.readonly">
                </dx-select-box>
                <span class="error" *ngIf="!decorator.valid">{{ decorator.message }}</span>
            </div>
        </div>
    </div>
</div>