<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <layout-metronic-sidebar></layout-metronic-sidebar>
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper" style="min-height: 100vh; padding-top: 65px;">
            <layout-metronic-header></layout-metronic-header>
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
                    <router-outlet></router-outlet>                    
                </div>
            </div>
           <layout-metronic-footer></layout-metronic-footer>
        </div>
    </div>
</div>
<layout-metronic-rightbar></layout-metronic-rightbar>

<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>
<!-- end::Scrolltop -->