<div class="kt-login__signin" mvc-remove-wrapper>
    <div class="kt-login__head">
        <h3 class="kt-login__title">Sign In To Xoera Partner</h3>
    </div>
    <form class="kt-form">
        <mvc-alert-component *ngIf="message" [text]="message" (closed)="closeMessage()"></mvc-alert-component>
        <div class="form-group">
            <editor style="width: 100%;" [object]="user" property="Account" [decorator]="{ label: '', editable: true }"></editor>
        </div>
        <div class="form-group">
            <editor style="width: 100%;" [object]="user" property="Password" [decorator]="{ label: '', editable: true }"></editor>
        </div>
        <div class="row kt-login__extra">
            <div class="col">
                <editor style="width: 100%;" [object]="user" property="RememberMe" [decorator]="{ label: '', editable: true }"></editor>
            </div>
            <div class="col kt-align-right">
                <a id="kt_login_forgot" class="kt-login__link" (click)="navigateForgotPassword()">Forget Password ?</a>
            </div>
        </div>
        <div class="kt-login__actions">
            <button id="kt_login_signin_submit" class="btn btn-primary btn-wide btn-font-lg" (click)="login()" [disabled]="processing" [ngClass]="{'kt-spinner kt-spinner--md kt-spinner--light':processing}">
                Sign In
            </button>
        </div>
        <div class="kt-login__account">
            <span class="kt-login__account-msg">
                Don't have an account yet ?
            </span>
            &nbsp;&nbsp;
            <a id="kt_login_signup" class="kt-login__account-link" (click)="navigateSignUp()">Sign Up!</a>
        </div>
    </form>
</div>