<div class="modalWapper fade" [ngClass]="{'show':visible}">
    <div *ngIf="dialog" class="modal fade" [ngClass]="{'show in':visible}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{dialog.title}}</h5>
                    <button type="button" class="close" (click)="closeModal()">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <editor [object]="item" property="Title" [decorator]="{ editable: false }"></editor>
                    </div>
                    <div class="form-group">
                        <editor [object]="item" property="PriorityType" [decorator]="{classInput: 'col-sm-9'}"></editor>
                    </div>
                    <div class="form-group">
                        <editor [object]="item" property="AssignToId" [decorator]="{classInput: 'col-sm-9'}"></editor>
                    </div>
                    <div class="form-group" *ngIf="dialog.admin">
                        <editor [object]="item" property="InternalNote"></editor>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="confirmModal()">OK</button>
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>