<router-outlet></router-outlet>
<mvc-modal-dialog></mvc-modal-dialog>
<mvc-modal-confirm></mvc-modal-confirm>
<xoera-partner-modal-vnc></xoera-partner-modal-vnc>
<xoera-partner-modal-agreement></xoera-partner-modal-agreement>
<xoera-partner-modal-edit-ticket></xoera-partner-modal-edit-ticket>
<xoera-partner-modal-assign-ticket></xoera-partner-modal-assign-ticket>
<xoera-partner-modal-booking-history></xoera-partner-modal-booking-history>
<xoera-partner-modal-edit-ticket-detail></xoera-partner-modal-edit-ticket-detail>
<mvc-loading-component [text]="loadingText" *ngIf="loading"></mvc-loading-component>