<div class="modalWapper fade" [ngClass]="{'show':visible}">
    <div *ngIf="dialog" class="modal fade" [ngClass]="{'show in':visible}">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{dialog.title}}</h5>
                    <button type="button" class="close" (click)="closeModal()">
                    </button>
                </div>
                <div class="modal-body">
                    <iframe [src]="url | sanitizeUrl" (load)="loadComplete()" [ngClass]="{'active':!loading}"></iframe>
                    <mvc-loading-component [text]="loadingText" *ngIf="loading"></mvc-loading-component>
                </div>
            </div>
        </div>
    </div>
</div>