.gridAction {
    display: flex;
    margin: 0 auto;
    justify-content: center;

    .btn-group {
        display: flex;

        button {
            margin: 0;
            padding: 0;
            width: auto;
            height: auto;
            max-width: 2.5rem;
            max-height: 2.5rem;
        }
    }
}